# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.evidencia1.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\INNOVA TEC\RiderProjects\evidencia1\.idea\.idea.evidencia1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
